<!DOCTYPE html>
<html>
<body>

<h2>Place Order</h2>

<form action="/order" method="post" onsubmit="return check()">
    
    Item Name: <input type="text" id="item" name="item"/><br><br>
    
    Quantity: <input type="number" id="quantity" name="quantity"/><br><br>
    
    <button type="submit">Order</button>

</form>

<script>
function check() {

    let u = document.getElementById("item").value;
    let p = document.getElementById("quantity").value;

    if (u === "soap" && p === "2") {
        alert("Order Confirmed ✅");
        return true; 
    } else {
        alert("Invalid Order ❌");
        return false; 
    }
}
</script>

</body>
</html> 